{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bean & Brew - {% block title %}Home{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'coffee_shop/css/style.css' %}" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Bean & Brew</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li nav-item>
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li nav-item>
              <a class="nav-link" href="{% url 'menu' %}">Menu</a>
            </li>
            <li nav-item>
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li nav-item>
              <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% block content %}{% endblock %}

    <footer class="bg-dark text-light py-4 mt-5">
      <div class="continer">
        <div class="row">
          <div class="col-md-4">
            <h5>Bean & Brew</h5>
            <p>Crafting perfect moments, one cup at a time.</p>
          </div>
          <div class="col-md-4">
            <h5>Hours</h5>
            <p>Mon-Fri: 7am - 8pm<br />Sat-Sun: 8am - 6pm</p>
          </div>
          <div class="col-md-4">
            <h5>Contact</h5>
            <p>
              123 Orion Street<br />Orion City, OR 97201<br />(+233) 00-000-0000
            </p>
          </div>
        </div>
      </div>
    </footer>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% if request.session.accessibility_mode %}
    <script src="{% static 'coffee_shop/js/accessibility.js' %}"></script>
    {% endif %}
  </body>
</html>
